// globals

div {
    border: 1px solid white;
}

html {
    font-size: 125%;
}

body {
    background-color: $background-color;
    height: 100vh;
    // padding: 50px 50px 15px;
    // padding-bottom: 15px;
}

a {
      text-decoration: none;
}

p {
    font-family: $body-font;
    color: $font-color;
    margin-bottom: 10px;
}

.a-tag-btn{ 
    @include a-btnStyle;
}

// landing page

.container {
    display: flex;
    height: 95vh;
    max-width: 1200px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    position: relative;
    padding: 20px 0;
}

.inner-container-work, .inner-container-move {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // max-width: 1200px;
    align-items: center;
    width: 50%;
    height: 90%;
    margin: 0 auto;
}


h1 {
    font-family: $heading-font;
    font-size: 3rem;
    font-weight: bold;
    color: $font-color;
    align-items: center;
    margin-bottom: 20px;
    text-align: center;
    text-shadow: 1px 1px 1px $accent-color2;

    span {
        font-size: 4rem;
        text-shadow: 1px 1px 1px $accent-color2;

    }
}

h2 {
    @extend h1;
    font-size: 2rem;

    span {
        font-size: 2.5rem;
    }
  
}

h3 {
    font-family: $body-font;
    color: $font-color;
    margin-bottom: 20px;
    font-size: 1.5rem;
    text-align: center;
}

// timer section

.skip-btn, .play-btn, .pause-btn {
@include a-btnStyle;

}

.pause-btn {
    display: none;
}

.work, .move {
    font-size: 1.5rem;
    color: $primary-color;
    text-transform: uppercase;
}

.clock {
    border: 8px solid $accent-color2;
    border-radius: 50%;
    padding: 80px;
    margin-bottom: 30px
}

.countdown {
    font-size: 2.5rem;
}

.work-skip-btns, .move-skip-btns {
    width: 100%;
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;
    
}

// move page

.move-countdown {
    margin: 0 auto;
    font-size: 2rem;
}

.inner-container-move {
    display: none;
}


// Toggle classes

.visible {
    visibility: visible;
}


// footer

footer {
    // position: absolute;
    position: fixed;
    bottom: 0;
    left: 0;
    color: $font-color;
    font-family: $body-font;
    font-size: .7rem;
    background-color: darken($background-color, 10%);
    width: 100%;
    text-align: center;
    height: 15px;
}