
// Colour scheme 

$background-color: #4C494A;
$font-color: #E3D4BA;
$primary-color: #C25050;
$accent-color: #C5D195;
$accent-color2: #D59572;

// Fonts

$heading-font: 'Rubik', sans-serif;
$body-font: 'Karla', sans-serif;

// button mixin

@mixin a-btnStyle() {
    color: $font-color;
    font-family: $heading-font;
    font-size: 1.3rem;
    text-transform: uppercase;
    border: solid $primary-color;
    background-color: $primary-color;
    border-radius: 5%;
    padding: 2px 6px;
    margin-bottom: 15px;
    box-shadow: 1px 1px 1px $accent-color2;

    @media(max-width: 450px){
        font-size: 1rem;
    }
    &:hover {
        color: $accent-color;
        box-shadow: 1.5px 1.5px 1.5px $accent-color;
    }
}

